<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Home page</title>
</head>
<body>

<h1>Home page</h1>

<a sec:authorize="hasRole('ROLE_ANONYMOUS')">
    <p>Login = user, Password = user</p>
    <p>Login = manager, Password = manager</p>
    <p>Login = owner, Password = owner</p>
    <p>Login = admin, Password = admin</p>
    <p>User has some restrictions. Only manager and owner can edit contracts. Only admin can delete users.</p>
    <p><a th:href="@{|/login|}" th:text="'Log in'"></a></p>
    <p><a th:href="@{|/register|}" th:text="'Register'"></a></p>
</a>
<a sec:authorize="isAuthenticated()">
    <p><a th:href="@{|/user/menu|}" th:text="'User menu'"></a></p>

    <p><a th:href="@{|/customer/menu|}" th:text="'Customer menu'"></a></p>

    <p><a th:href="@{|/contract/menu|}" th:text="'Contract menu'"></a></p>

    <p><a th:href="@{|/pdf-generator|}" th:text="'Simple pdf generator'"></a></p>

    <!--<p><a th:href="@{|/import|}" th:text="'Import CSV file'"></a></p>-->


    <p>Logged as: <span sec:authentication="name"></span></p>
    <p>Has role: <span sec:authentication="authorities"></span></p>

    <a th:href="@{/logout}">Log out</a>
</a>

</body>
</html>
