<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
</head>
<body>

<h2>Register</h2>
<form th:action="@{/register}" th:object="${user}" method="post">
    <div>
        <input type="hidden" th:field="*{id}" />
    </div>
    <div>
        <label>
            Username:
            <input type="text" th:field="*{username}"/>
        </label>
    </div>
    <div>
        <label>
            Email:
            <input type="email" th:field="*{email}"/>
        </label>
    </div>
    <div>
        <label>
            Password:
            <input type="password" th:field="*{password}"/>
        </label>
    </div>
    <div>
        <label>
            First Name:
            <input type="text" th:field="*{firstName}"/>
        </label>
    </div>
    <div>
        <label>
            Last Name:
            <input type="text" th:field="*{lastName}"/>
        </label>
    </div>
    <div>
        <input type="submit" value="Register"/>
    </div>
</form>

</body>
</html>
