<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add new customer based on another one</title>
</head>
<body>

<h2>Add new customer based on another one form</h2>
<form th:action="@{|/customer/addCustomerBasedOnAnotherOne/${customer.id}|}" th:object="${customer}" method="post">
    <div>
        <label>
            Name:
            <input type="text" th:field="*{name}" th:value="*{name}"/>
        </label>
    </div>
    <div>
        <label>
            E-mail:
            <input type="email" th:field="*{email}" th:value="*{email}"/>
        </label>
    </div>
    <div>
        <label>
            Phone:
            <input type="number" th:field="*{phone}" th:value="*{phone}"/>
        </label>
    </div>
    <div>
        <label>
            First Name:
            <input type="text" th:field="*{firstName}" th:value="*{firstName}"/>
        </label>
    </div>
    <div>
        <label>
            Last Name:
            <input type="text" th:field="*{lastName}" th:value="*{lastName}"/>
        </label>
    </div>
    <div>
        <label>
            Address:
            <input type="text" th:field="*{address}" th:value="*{address}"/>
        </label>
    </div>
    <div>
        <label>
            City:
            <input type="text" th:field="*{city}" th:value="*{city}"/>
        </label>
    </div>
    <div>
        <input type="submit" value="Add New Customer"/>
    </div>
</form>

</body>
</html>
