<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Search for customer</title>
</head>
<body>

<h2>Search customer by Name</h2>
<form th:action="@{|/customer/name-search|}" th:object="${customer}" method="post">
    <div>
        <label>
            Name:
            <input type="text" th:field="*{name}"/>
        </label>
    </div>
    <div>
        <input type="submit" value="Search Customer"/>
    </div>
</form>

</body>
</html>
