<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Searching result</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th><a th:text="#{customer.id}"></a></th>
        <th><a th:text="#{customer.address}"></a></th>
        <th><a th:text="#{customer.city}"></a></th>
        <th><a th:text="#{customer.email}"></a></th>
        <th><a th:text="#{customer.first.name}"></a></th>
        <th><a th:text="#{customer.last.name}"></a></th>
        <th><a th:text="#{customer.name}"></a></th>
        <th><a th:text="#{customer.phone}"></a></th>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${customer}">
        <td th:text="*{id}"></td>
        <td th:text="*{address}"></td>
        <td th:text="*{city}"></td>
        <td th:text="*{email}"></td>
        <td th:text="*{firstName}"></td>
        <td th:text="*{lastName}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{phone}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
