<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Search contract by begin date after</title>
</head>
<body>

<h2>Search contract by begin date after</h2>
<form th:action="@{|/contract/begin-date-after-search|}" th:object="${contract}" method="post">
    <div>
        <label>
            Begin Date:
            <input type="date" th:field="*{beginDate}"/>
        </label>
    </div>
    <div>
        <input type="submit" value="Search Contract"/>
    </div>
</form>

</body>
</html>
